
    @font-face 
{
    font-family: "Balkara";
    src: url("../fonts/BalkaraFreeCondensed.ttf");
}

@font-face
{
    font-family: "DOLOMAN";
    src: url("../fonts/DolomanPavljenko.otf");
}
body
{
    background: 
    linear-gradient(rgba(255, 255, 255, 0.84), rgba(255, 255, 255, 0.84)),
    url(../img/font.png);
    background-size: cover;
    background-repeat: repeat;
    margin: 0;
}

header
{
    font-family: Balkara;
    text-align: center;
}

h1
{
    
    font-size: 62px;
    font-weight: 400;
    line-height: 86px;
    letter-spacing: 0%;
}

menu
{
    background: rgb(175, 45, 34); 
    padding: 0;
}

menu ol
{
    list-style: none;
    padding: 10px 0;
}

menu li
{
    display: inline;
    margin: 5px 20px;
}

.menu_1 a
{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    padding: 5px;
}

menu a:hover
{
    color: yellow;
}

.menu_2
{
    background-color: #EC7136;
    margin-top: 25px;
}

.menu_2 a
{
    text-decoration: none;
    color: #fff;
    font-size: 25px; 
}

h2
{
    font-family: Balkara;
    font-size: 45px;
    font-weight: 400;
    line-height: 60px;
    text-align: center;
}

.menu_cards
{
    width: 95%;   
    margin: auto;
    display: flex;
}

.card 
{
    width: 25%;
    height: 30%;
    background-color: #8d6755;
    padding: 10px;
    margin: 10px 20px 10px 20px;
    display: inline-block;
    border-radius: 20px;
}

.card img
{
    position: relative; 
    width: 100%; 
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.card h3
{
    font-size: 1.5em;
    text-align: center;
    color: #ffffff;
}

.card p
{
    font-size: 1em;
    text-align: center;
    color: #ffffff;
}

#card_center1
{
    margin: 10px 121px;
}
   
.dish 
{
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
}
    .dish img {
    width: 200px;
    height: 200px;
    float: left;
    
    }
    .dish h2 {
        font-size: 20px;
    margin: 0;
    line-height:34px;
    }
    .dish p {
    margin: 5px 0;
    }

main
{
    margin: 75px 0px;
}

#pers
{
    position: absolute;
    top: 5%;
    left: 95%;
}

.img_main
{
    width: 75.8%;
    margin: auto;
    max-height: 250px;
}

.img_main img
{
    text-align: center;
}

.p_main
{
    width: 86%;
    margin: auto;
}

.p_main span
{
    font-family: Balkara;
}

.p_main p
{
    font-size: 32px; 
    text-align: justify;
    font-family: DOLOMAN;
    font-weight: bold;
}

footer
{
    height: 234px;
    background: rgb(175, 45, 34);
    font-family: Balkara;
    color: #fff;
    padding: 20px;
}

footer h3
{
    position: static;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    margin: 10px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0; 
}

.footer_p
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 20px 0px;
    line-height: 24px;
    font-size: 20px;
    font-weight: 400;
}

#call
{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 30px 0px 30px 0px;

/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 100px;
}

#times
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 30px 0px;

    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 100px;

}

#adress
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 30px 0px;

    /* Inside Auto Layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 100px;
}

