@font-face 
{
    font-family: "Balkara";
    src: url("../fonts/BalkaraFreeCondensed.ttf");
}

@font-face
{
    font-family: "DOLOMAN";
    src: url("../fonts/DolomanPavljenko.otf");
}



body
{
    background: 
    linear-gradient(rgba(255, 255, 255, 0.84), rgba(255, 255, 255, 0.84)),
    ;
    background-size: cover;
    background-repeat: repeat;
    margin: 0;  

}

.client
{
    background: rgb(175, 45, 34); 
}

header
{
    position: absolute;
    width: auto;
    height: 75px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgb(0, 0, 0); 
}

header img
{ 
    position: absolute;
    width: 77px;
    height: 75px;
    left: 33px; 
    top: 2px;
    bottom: 3px;
} 

.heads_menu h1
{
    width: auto;
    height: auto;
    position: absolute; 
    font-style:var()  ;
    left: 36%;
    right: 15%;
    top: 5%;
    bottom: 15%;
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin: 0% -5%;
    color:white;
    
    font-size: 30pt;
    font-weight: 400;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: Balkara;
    text-align: center;
}

.reg_form
{ 
    position: static;
    width: 1420px;
    height: auto; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px; 
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 40px auto 80px;
}

.reg_form h1
{ 
    position: static;
    width: 662px;
    height: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 34px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 20px 0px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    font-family: Balkara;

}

.info
{ 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 12px 20px;
    align-items: stretch;
    align-content: flex-end;
    flex-wrap: nowrap;
    height: auto; 
    flex-grow: 0;
    order: 1;
} 

.info input[type=text],input[type=date],input[type=email]
{
    width: 400px;
    box-sizing: border-box;
    padding: 12px 20px;
    font-weight: 100;
    height: 51px;
    font-size: 24pt;
    border-radius: 15px;
    border-color: transparent;
    box-shadow: inset 0px 3px 4px 0px rgba(16, 0, 43, 0.75);
    background: #fff;
    text-align: center;
}

.info input[type=text]:hover, .info input[type=text]:active, .info input[type=password]:hover, .info input[type=password]:active,.info input[type=text]:focus, .info input[type=password]:focus, .info input[type=email]:hover, .info input[type=email]:active,.info input[type=email]:focus, .info input[type=date]:hover, .info input[type=date]:active,.info input[type=date]:focus
{
    box-sizing: border-box;
    border: 3px solid rgb(255, 0, 0); 
}

input 
{
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    }

.perinfo_1
{ 
    position: static;
    width: 1330px;
    height: 273px; 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px; 
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px auto 0px;
}

.perinfo_2
{ 
    position: static;
    height: 40px;
    width: 1330px; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px; 
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px auto 25px;
}

.perinfo_2 p
{
    font-size: 30px;
    margin: 0px;
}
.perinfo_2 label
{
    font-size: 28px;
}

fieldset
{
   /* width: 1380px; */ 
    margin: 25px 0px; 

}

legend
{
    font-size: 28px;
    font-weight: 600;
    font-family: Balkara;
}

.perinfo
{   
    position: static;
    height: 300px; 
    flex: none;
    order: 0;
    flex-grow: 0;
}

.perinfo input[type=text],input[type=date],input[type=email]
{ 
    position: relative;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1px;
    width: 400px;  
}

.perinfo_left
{   
    position: static; 
    height: 265px; 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px; 
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
} 


.perinfo_left #text_label
{
    color: rgb(0, 0, 0);
    font-family: DOLOMAN;
    font-size: 21px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: right; 
    margin-top: 0px; 
    margin-bottom: 60px;
} 

.perinfo_right
{  
    position: static; 
    height: 273px; 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px; 
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 10px;
}

.perinfo_right #text_label
{
    color: rgb(0, 0, 0);
    font-family: DOLOMAN;
    font-size: 21px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: right; 
    margin-top: 0px; 
    margin-bottom: 60px;
} 

.left_p
{ 
    position: static;  
    flex: none;
    order: 0;
    flex-grow: 0;
    margin:10px 23px 0px 0px ;
}

.right_p
{ 
    position: static;
    width: 400px; 
    flex: none;
    order: 1;
    flex-grow: 0; 
}

.left_p1
{ 
    position: static; 
    width: 290px; 
    flex: none;
    order: 0;
    flex-grow: 0;
    margin:10px 23px 0px 5px ;
}

.right_p1
{ 
    position: static;
    width: 400px; 
    flex: none;
    order: 1;
    flex-grow: 0; 
}

.com1, .com2
{
    position: static;
    margin: 5px 0px 10px;
    height: 18px;
}

.workinfo, .infoadres
{ 
    position: static; 
    height: 150px; 
    flex: none;
    order: 1;
    flex-grow: 0; 
} 

.work_info, .info_adres
{ 
    position: static;
    width: 1330px; 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px; 
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 25px 0px 0px 76px;
} 

.work_info_left
{
    width: 600px;
    position: static;  
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px; 
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 50px 0px 10px;
}

.work_info  #text_label ,.info_adres #text_label
{
    color: rgb(0, 0, 0);
    font-family: DOLOMAN;
    font-size: 21px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: right; 
    margin:10px 20px 5px 0px;  
}

.work_info_right
{
    position: static;  
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px; 
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 10px;
}

.exitinfo
{
    position: static;
    height: 150px; 
    flex: none;
    order: 2;
    flex-grow: 0;
}

.exit_info
{ 
   position: static;
   width: 1330px; 
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: flex-start;
   padding: 0px; 
   flex: none;
   order: 0;
   flex-grow: 0;
   margin: 25px 0px 0px 76px;
} 

.exit_info_left
{
    width: 600px;
    position: static;  
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px; 
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 50px 0px 10px;
}

.exit_info  #text_label
{
    color: rgb(0, 0, 0);
    font-family: DOLOMAN;
    font-size: 30px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: right; 
    margin:10px 20px 5px 0px;  
}

.exit_info_right
{
    position: static;  
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px; 
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 68px;
}

.btn input[type=submit]
{ 
    position: static;
    width: 360px; 
    padding: 28px 30px 28px 30px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0px 0px;
    border-radius: 0px;
    font-size: 24px;
    background: rgb(146, 146, 146);
    font-family: Balkara;
    border-color: transparent;
}

.btn
{
    margin: 0% auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: none;
    order: 3;
    flex-grow: 0;
}

.btn input[type=submit]:hover
{
    border-radius: 0px;

background: rgb(196, 192, 192);
}

footer
{
    height: 234px;
    background: rgb(0, 0, 0);
    font-family: Balkara;
    color: #fff;
    padding: 20px;
}

footer h3
{
    position: static;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    margin: 10px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0; 
}

.footer_p
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 20px 0px;
    line-height: 24px;
    font-size: 20px;
    font-weight: 400;
}


#call
{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 30px 0px 30px 0px;

/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 100px;
}

#times
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 30px 0px;

    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 100px;

}

#adress
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 30px 0px;

    /* Inside Auto Layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 100px;
}
