@font-face 
{
    font-family: "Balkara";
    src: url("../fonts/BalkaraFreeCondensed.ttf");
}

@font-face
{
    font-family: "DOLOMAN";
    src: url("../fonts/DolomanPavljenko.otf");
}



body
{
    position: relative;
    background-image: url("../img/font.png"); 
    font-family: Actay; 
    overflow-x: hidden;
    overflow-y: hidden;   
    background-color: black;
}

.entry
{
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.34);
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 600px;
    height: 400px;
    left: 459px;
    right: 460px;
    top: 151px;
    bottom: 152px;
}

.div_raz
{
    position: absolute;
    backdrop-filter: blur(70px);
    background-image: url("../img/font.png"); 
    position: absolute;
    width: 105%;
    height: 703px;
    left: -1%;
    right: 0;
    top: -2%;
    bottom: 0;
}

.forma_raz
{ 
    position: absolute;
    width: 600px;
    height: 400px;
    left: 459.5px;
    right: 459.5px;
    top: 151.5px;
    bottom: 151.5px;
    background-color: white;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.34);
}

.div_img img
{
    position: absolute;
    width: 280px;
    height: 380px;
    margin-block-start: 10px;
    margin-inline-start: 10px;
}

.div_img
{ 
    position: relative;
    width: 300px;
    height: 400px; 
}

.forma_entry
{ 
    position: relative;
    width: 300px;
    height: 404px;
}

.div_entry
{ 
    position: absolute;
    width: 300px; 
    height: 300px;
    margin: 6% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px; 
}

.head_entry
{ 
    position: static;
    width: 300px;
    height: 109.05px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px; 
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 50px 0px;
}

.forma_entry img
{  
    position: static;
    height: auto; 
    flex: none;
    order: 0;
    flex-grow: 0; 
}

.forma_entry h1
{ 
    position: static;
    width: 300px;
    height: 19px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px; 
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: 6px ; 
    color: rgb(0, 0, 0); 
    font-size: 19px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    font-family: Balkara;
}

.textboox
{ 
    position: static;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 300px;
    height: 91px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px 21px;
    
}

.textboox input
{  
    position: absolute;
    width: 240px;
    height: 40px; 
    padding: 10px;
    border-color: transparent;
    border-radius: 0px; 
    box-shadow: inset 0px 4px 4px 0px rgba(70, 24, 115, 0.19);
    background: rgb(237, 235, 253);
    
}

.textboox input[type=text]
{ 
    position: static;
    width: 240px;
    height: 40px; 
    flex: none;
    
    order: 0;
    flex-grow: 0; 
}

input 
{
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    }

.textboox input[type=password]
{ 
    position: static;
    width: 240px;
    height: 40px; 
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 12px 0px;
}

.textboox input[type=text]:hover, .textboox input[type=text]:active, .textboox input[type=password]:hover, .textboox input[type=password]:active,.textboox input[type=text]:focus, .textboox input[type=password]:focus
{
    box-sizing: border-box;
    border: 3px solid rgb(101, 58, 137); 
}

.butt
{ 
    position: static;
    width: 130px;
    height: 62px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px; 
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 0px 21px;
    
}

.butt input[type="submit"]
{ 
    position: static;
    width: 130px;
    height: 36px; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px 8px 12px; 
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 11px 0px; 
    border-radius: 0px;
    border-color: transparent; 
    background: rgb(101, 58, 137);
    color: rgb(255, 255, 255);
    font-family: Balkara;
    font-size: 18px;
    font-weight: 700; 
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    
}

.butt input[type="submit"]:hover
{ 
    background: #013BA9;
}

.butt a
{ 
    position: static; 
    margin: 0px 95px;
    text-decoration:none;
    color: #250E56;
    font-family: Balkara;
    font-size: 15px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}

.butt a:hover
{ 
    color: #013BA9;
}
.starosl {
    font-family:"name--sites-default-files-2024-04-BalkaraFreeCondensed-ttf", "notdef";}